@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Bree+Serif);

body{
    background: #212121;
    font-size: 22px;
    line-height: 32px;
    color: #ffffff;
    word-wrap: break-word !important;
    font-family: "Open Sans", sans-serif; 
}

h1 {
    font-size: 60px;
    text-align: center;
    color: #fff;
}

a {
    color: #fff;
}

#container{
    margin: 0 auto;
}

nav {
    margin: 50px 0;
    background-color: #e64a19;
}